<div class="row mt-3">
  <div class="col-2">
    <side-menu></side-menu>
  </div>
  <div class="col-10">
    <h1>Stand Alone Component - Page</h1>
    <hr />
    <div class="row">
      <div class="col">
        <p>
          this component doesnt need to be imported in modules because we are
          loading it the lazy way
        </p>
        <p>this is because it is its own module</p>
        <!--! COUNTER -->
        <app-counter-alone [counter]="100"> </app-counter-alone>
      </div>
    </div>
  </div>
</div>
