/* You can add global styles to this file, and also import other style files */

maps-side-menu {
  width: 300px;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
}

li {
  cursor: pointer;
  transition: 0.3s all;
}
